body {
        background-color: #f8f9fa;
        font-family: 'Segoe UI', sans-serif;
    }

    .container {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .card-body2 {
        margin-bottom: 150px;
    }

    .card {
        background-color: #fff;
        border-radius: 12px;
        box-shadow: 0 0 15px rgba(13, 110, 253, 0.1);
        border: none;
    }

    .card-header {
        background-color: #2B7540 ;
        color: white;
        font-weight: bold;
        text-align: center;
        padding: 16px 0;
        border-radius: 12px 12px 0 0;
        box-shadow: 0 0 5px rgba(13, 110, 253, 0.4);
    }

    .form-label {
        font-weight: 600;
        color: #2B7540 ;
    }

    .form-control,
    .form-select {
        background-color: #f8f9fa;
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 10px 14px;
        box-shadow: 0 0 5px rgba(13, 110, 253, 0.1);
        transition: box-shadow 0.3s ease, border-color 0.3s ease;
    }

    .form-control:focus,
    .form-select:focus {
        border-color: #2B7540  !important;
        box-shadow: 0 0 8px rgba(13, 110, 253, 0.6);
        outline: none;
        background-color: #fff;
    }

.link-hover-green::after,
.link-hover-red::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  width: 0;
  transition: width 0.3s ease;
}
.link-hover-green:hover::after {
  width: 100%;
  background-color: #2B7540 ;
}
.link-hover-red:hover::after {
  width: 100%;
  background-color: red;
}
nav a {
  position: relative;
}
